<template name="CreateTestCase">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4 class="page-header">Añadir Caso de Prueba</h4>

            <div class="form-group">
                <label for="input">Entrada</label>
                {{> upload_bootstrap autoStart=true formData=taskInput}}
            </div>

            <div class="form-group">
                <label for="output">Salida</label>
                {{> upload_bootstrap autoStart=true formData=taskOutput}}
            </div>

            <form id="test-case-form">
                <div class="form-group">
                    <label for="feedback">Descripcion</label>
                    <input type="text" name="feedback" class="form-control">
                </div>

                <div class="form-group">
                    <input type="submit" value="Añadir" class="btn btn-primary"/>
                    <a href="{{pathFor 'task' id=taskID}}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</template>