<template name="Settings">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class="page-header">Configuracion</h4>
      {{#with settings}}
      <form id="settings-form">
        <div class="form-group">
          <label for="saveTimeout">Intervalo de espera para guardado [min]</label>
          <input type="number" name="saveTimeout" class="form-control" value="{{saveTimeout}}">
        </div>
        <div class="form-group">
          <label for="keystrokes">Keystrokes</label>
          <input type="number" name="keystrokes" class="form-control" value="{{keystrokes}}">
        </div>
        <div class="form-group">
          <input type="submit" value="Actualizar" class="btn btn-primary"/>
        </div>
      </form>
      {{/with}}

      <h4 class="page-header">Criterios de Evaluacion</h4>

      <div class="btn-group">
        <a href="{{pathFor 'createCriteria'}}" class="btn btn-warning">Anadir Criterio</a>
      </div>

      <h5>Los creados criterios mas recientes son:</h5>

      {{#unless recentCriteria.count}}
        <p>No existen criterios recientes.</p>
      {{/unless}}
      <ul>
        {{#each recentCriteria}}
          <li class="list-group-item">{{title}} - #{{tag}}</li>
        {{/each}}
        <li class="list-group-item">
          <a href="{{pathFor 'criterias'}}">
            Ver Todos...
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>