<template name="Task">
    <div class="row">
        {{> TasksSidebar}}

        {{#with task}}
            <div id="dashboard" class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                <h4>Tarea: {{title}}</h4>


                {{#if isInRole 'admin'}}
                    {{#if isValidTask}}
                        <a id="editTask" class="btn btn-primary" href="{{pathFor 'editTask' taskId=_id}}">Editar tarea</a>
                    {{else}}
                        <div class="alert alert-danger" role="alert">Agregue al menos un caso de prueba para iniciar esta tarea.</div>
                        <a id="editTask" class="btn btn-primary" href="{{pathFor 'editTask' taskId=_id}}">Editar tarea</a>
                    {{/if}}
                    <a id="addTestCase" class="btn btn-primary" href="{{pathFor 'createTestCase' taskId=_id}}">Añadir casos de prueba</a>
                {{/if}}

                <div class="btn-group" role="group">
                    {{#if project}}
                        <a id="continueProject" class="btn btn-success" href="{{pathFor 'project' id=project._id}}">Ir al Proyecto</a>
                    {{else}}
                        {{#if isValidTask}}
                            <a id="startProject" class="btn btn-success">Iniciar Proyecto</a>
                        {{else}}
                            {{#if isInRole 'student'}}
                                <div class="alert alert-danger" role="alert">Los casos de prueba no estan definidos aun, contacte a docente para añadirlos.</div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>

                <h4>Descripcion</h4>
                <p>{{{description}}}</p>
                {{#if task.testCases}}
                    <h4>Casos de prueba</h4>
                    {{#each task.testCases}}
                        <p>
                            {{@index}} - {{feedback}}
                            <a id="editTestCase" class="btn btn-warning btn-xs" href="{{pathFor 'editTestCase' taskId=../_id index=id}}">Editar</a>
                        </p>
                    {{/each}}
                {{/if}}
            </div>
        {{/with}}
    </div>
</template>
