<template name="Index">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        {{> CodeMirror id="idCodemirror" name="nameCodemirror" options=editorOptions code=editorCode reactiveVar="varName"}}

        <div id="error">
        </div>

        <div>
            <button id="compile" type="button" class="btn btn-primary"> Compile </button>

            <button id="run" type="button" class="btn btn-success"> Run </button>
        </div>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">

            <label for="input"> Input </label>
            <textarea id="input" class="form-control" row="5">  </textarea>

        </div>
        <div class="row">

            <label for="output"> Output </label>
            <textarea id="output"  class="form-control" rows="5"> {{outputContent}} </textarea>

        </div>
    </div>
</template>