<template name="CreateTask">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class="page-header">Crear Tarea</h4>

      <form id="create-task-form">

        <div class="form-group">
          <label for="title">Nombre</label>
          <input type="input" name="title" class="form-control">
        </div>

        <div class="form-group">
          <label for="description">Descripcion</label>
          <div id="summernote"></div>
          <input type="input" name="description" class="form-control" style="display: none;">
        </div>

        <div class="form-group">
          <label>Seleccione el criterio de evaluacion (Opcional)</label>
          <input type="input" name="type" class="form-control" readonly="readonly" value={{selectedCriteria.title}}>

          <p>Criterios de mas usados:</p>
          <div class="form-group">
            {{> EasySearch.Input index=criteriaIndex attributes=inputAttribs}}
          </div>
          <ul class="list-group">
            {{#EasySearch.Each index=criteriaIndex}}
              <li id="{{_id}}" class="list-group-item"><a href="">{{title}}</a></li>
            {{/EasySearch.Each}}
          </ul>
        </div>

        <input type="submit" value="Crear" class="btn btn-primary"/>
        <a href="{{pathFor 'tasks'}}" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </div>
</template>
