<template name="CreateTask">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4 class="page-header">Crear Tarea</h4>

            <form id="create-task-form">
                <div class="form-group">
                    <label for="title">Nombre</label>
                    <input type="title" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Descripcion</label>
                    <input type="description" name="description" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear Tarea" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</template>