<template name="AuthenticatedNavigation">
  <ul class="nav navbar-nav">
    {{#if isInRole 'admin'}}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="brand" href="{{pathFor 'users'}}">Usuarios</a></li>
                <li><a class="brand" href="{{pathFor 'invites'}}"> Invitaciones</a></li>
                <li><a class="brand" href="{{pathFor 'settings'}}">Configuracion</a></li>
            </ul>
        </li>
        <li><a class="brand" href="{{pathFor 'dashboard'}}">Mis Estudiantes</a></li>
    {{/if}}

    <li><a class="brand" href="{{pathFor 'tasks'}}"> Mis Tareas </a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.emails.[0].address}} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="logout"><a href="/">Logout</a></li>
      </ul>
    </li>
  </ul>
</template>
