<template name="TestCase">
    <div class="panel panel-default">
        <div class="panel-heading">
          {{title}}
        </div>
        <div class="panel-body">
            <div class="form-group">
              <label for="input">Entrada</label>
              <input type="file" name="input" class="form-control">
            </div>
            <div class="form-group">
              <label for="output">Salida</label>
              <input type="file" name="output" class="form-control">
            </div>
            <div class="form-group">
              <label for="feedback">Retroalimentacion en error</label>
              <input type="text" name="feedback" class="form-control">
            </div>
        </div>
    </div>
</template>