<template name="ProjectChanges">
  <div class="row">
    <select id="filePicker" class="form-control">
      {{#each files}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Diferencias (Levenstain)</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      {{#each diffTracks}}
      <tr>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox">
            </label>
          </div>
        </td>
        <td>{{date}}</td>
        <td>{{levenstain}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>